
<div class="container">
	<h1>Page 4</h1>
	<p>Donec sollicitudin mollis pharetra. Vivamus id orci nec ipsum convallis venenatis. Aliquam feugiat accumsan magna nec tincidunt. Aliquam erat volutpat. Sed aliquam neque leo. Pellentesque in aliquet elit. Duis auctor eget diam sed finibus. Suspendisse ex sapien, pellentesque at arcu id, pharetra facilisis enim. </p>

	<button ng-click="toPage(3)" class="btn btn-success btn-lg">Previous</button>
	<button ng-click="toPage(5)" class="btn btn-danger btn-lg">Next</button>
</div>