
<div class="container">
	<h1>Page 1</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eget urna porta, auctor metus ut, auctor metus. Nulla facilisi. Nunc ullamcorper varius eleifend. Etiam ac risus et mauris cursus porta. Nunc elementum ultrices quam quis feugiat. Curabitur in elit interdum sapien congue placerat. Pellentesque quis urna ut leo lobortis lacinia. Duis fermentum risus ut enim vehicula, a vestibulum nibh luctus. </p>

	<button ng-click="toPage(2)" class="btn btn-danger btn-lg">Next</button>
</div>
